swagger: '2.0'
info:
  version: '1.0'
  title: Stellar Admin
  contact: {}
host: stellaradmin.totalit.co.id
basePath: /api/v1/admin
securityDefinitions: {}
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /web-admin/transaksi/sales:
    post:
      summary: Get Data Sales By Booking Type
      tags:
        - Misc
      operationId: GetDataSalesByBookingType
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: sales_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: sales_type
          in: formData
          required: true
          type: string
          description: ''
        - name: tipe_booking
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetDataSalesByBookingType'
          examples:
            application/json:
              klien:
                - sales_type: Sales Agent
                  id: 43
                  value: 43
                  text: Ikhwan
                  nama_client: Ikhwan
                  telepone_client: '+62823742847382'
                  email_client: Ikhwan@gmail.com
                  no_rekening_client: '324242342432432'
                  nama_bank_client: null
                  pekerjaan_client: Pegawai
                  no_npwp_client: 35.345.645.6-575.676
                  no_ktp_client: '1231231321123232'
                  provinsi_client: JAMBI
                  kota_client: KABUPATEN TANJUNG JABUNG TIMUR
                  kecamatan_client: MUARA SABAK TIMUR
                  kode_pos_client: '1234'
                  alamat_ktp_client: Jl raya
                  alamat_domisili_client: Jl raya
                  sales_own_id: 7
                  nama_sales: Atikah Salim
                  no_hp_sales: '+62856635632'
                  email_sales: atikah@gmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 41
                  value: 41
                  text: Andre
                  nama_client: Andre
                  telepone_client: '+62893211939213'
                  email_client: Andre@gmail.com
                  no_rekening_client: '454353543543'
                  nama_bank_client: B.P.D. JAWA TENGAH
                  pekerjaan_client: Pegawai
                  no_npwp_client: 11.111.111.1-111.111
                  no_ktp_client: '1111111111111111'
                  provinsi_client: JAWA TENGAH
                  kota_client: KABUPATEN KEBUMEN
                  kecamatan_client: PURING
                  kode_pos_client: '11111'
                  alamat_ktp_client: Jl mangga
                  alamat_domisili_client: Jl mangga
                  sales_own_id: 25
                  nama_sales: Sales1
                  no_hp_sales: '+628986187276'
                  email_sales: daffa@totalit.co.id
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 37
                  value: 37
                  text: Sanusi
                  nama_client: Sanusi
                  telepone_client: '+62899292929288'
                  email_client: Sanusi@gmail.com
                  no_rekening_client: '324242342432432'
                  nama_bank_client: B.P.D. JAWA TENGAH
                  pekerjaan_client: Pengusaha
                  no_npwp_client: 22.222.222.2-222.222
                  no_ktp_client: '2222222222'
                  provinsi_client: RIAU
                  kota_client: KABUPATEN INDRAGIRI HILIR
                  kecamatan_client: KEMPAS
                  kode_pos_client: '2222'
                  alamat_ktp_client: jll
                  alamat_domisili_client: jll
                  sales_own_id: 23
                  nama_sales: Yura Yunita
                  no_hp_sales: '+62864564543534'
                  email_sales: daffa1@totalit.co.id
                  no_npwp_sales: 22.132.131.2-313.122
                - sales_type: Sales Agent
                  id: 36
                  value: 36
                  text: Astri Klien
                  nama_client: Astri Klien
                  telepone_client: '+6245435345435'
                  email_client: Astri@gmail.com
                  no_rekening_client: '324242342432432'
                  nama_bank_client: B.P.D. JABAR BANTEN SYARIAH
                  pekerjaan_client: Wirausaha
                  no_npwp_client: 33.333.333.3-333.333
                  no_ktp_client: '3333333333333333'
                  provinsi_client: NUSA TENGGARA TIMUR
                  kota_client: KABUPATEN BELU
                  kecamatan_client: LASIOLAT
                  kode_pos_client: '33333'
                  alamat_ktp_client: Jll
                  alamat_domisili_client: Jll
                  sales_own_id: 29
                  nama_sales: Sales Agent
                  no_hp_sales: '+6289374823432'
                  email_sales: salesagent@gmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 35
                  value: 35
                  text: Asma Klien
                  nama_client: Asma Klien
                  telepone_client: '+62654364354354'
                  email_client: asma@gmail.com
                  no_rekening_client: '324242342432432'
                  nama_bank_client: B.P.D. JAWA TENGAH
                  pekerjaan_client: Dokter
                  no_npwp_client: 44.444.444.4-444.444
                  no_ktp_client: '4444444444'
                  provinsi_client: KALIMANTAN SELATAN
                  kota_client: KABUPATEN HULU SUNGAI SELATAN
                  kecamatan_client: ANGKINANG
                  kode_pos_client: '4444'
                  alamat_ktp_client: mangga
                  alamat_domisili_client: mangga
                  sales_own_id: 29
                  nama_sales: Sales Agent
                  no_hp_sales: '+6289374823432'
                  email_sales: salesagent@gmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 33
                  value: 33
                  text: Adinda Klien
                  nama_client: Adinda Klien
                  telepone_client: '+62892842839293'
                  email_client: Adinda@gmail.com
                  no_rekening_client: '454353543543'
                  nama_bank_client: B.P.D. JABAR BANTEN
                  pekerjaan_client: Pengusaha
                  no_npwp_client: 12.132.131.3-131.312
                  no_ktp_client: '2222222222'
                  provinsi_client: JAWA BARAT
                  kota_client: KABUPATEN SUKABUMI
                  kecamatan_client: JAMPANG KULON
                  kode_pos_client: '2222'
                  alamat_ktp_client: uu
                  alamat_domisili_client: uu
                  sales_own_id: 29
                  nama_sales: Sales Agent
                  no_hp_sales: '+6289374823432'
                  email_sales: salesagent@gmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 5
                  value: 5
                  text: Ajup
                  nama_client: Ajup
                  telepone_client: '+62343224242434'
                  email_client: adm@gmail.com
                  no_rekening_client: '454353543543'
                  nama_bank_client: B.P.D. JAWA TIMUR
                  pekerjaan_client: Pegawai
                  no_npwp_client: 12.132.131.3-131.312
                  no_ktp_client: '2324434332222222'
                  provinsi_client: JAWA TENGAH
                  kota_client: KABUPATEN KEBUMEN
                  kecamatan_client: PETANAHAN
                  kode_pos_client: '1234'
                  alamat_ktp_client: jl
                  alamat_domisili_client: jl
                  sales_own_id: 28
                  nama_sales: Puja Alfina Monica
                  no_hp_sales: '+62892982828828'
                  email_sales: pujaalfinamaksum@gmail.com
                  no_npwp_sales: 12.132.131.3-131.312
                - sales_type: Sales Agent
                  id: 29
                  value: 29
                  text: Ashanti
                  nama_client: Ashanti
                  telepone_client: '+62892839182193'
                  email_client: Ashanti@gmail.com
                  no_rekening_client: null
                  nama_bank_client: null
                  pekerjaan_client: Dokter
                  no_npwp_client: 24.324.254.3-543.645
                  no_ktp_client: '3333333333333333'
                  provinsi_client: BANTEN
                  kota_client: KOTA TANGERANG
                  kecamatan_client: LARANGAN
                  kode_pos_client: '33333'
                  alamat_ktp_client: jlll
                  alamat_domisili_client: jllll
                  sales_own_id: 9
                  nama_sales: Gwen
                  no_hp_sales: '+6289282737833'
                  email_sales: Gwen@gmail.com
                  no_npwp_sales: 12.132.131.3-131.312
                - sales_type: Sales Agent
                  id: 31
                  value: 31
                  text: Zizah Klien
                  nama_client: Zizah Klien
                  telepone_client: '+62892839392932'
                  email_client: zizah@gmail.com
                  no_rekening_client: '454353543543'
                  nama_bank_client: BANK IBK INDONESIA
                  pekerjaan_client: Wirausaha
                  no_npwp_client: 32.423.432.4-532.435
                  no_ktp_client: '2324434332222222'
                  provinsi_client: KALIMANTAN TIMUR
                  kota_client: KOTA BONTANG
                  kecamatan_client: BONTANG UTARA
                  kode_pos_client: '33333'
                  alamat_ktp_client: jj
                  alamat_domisili_client: jj
                  sales_own_id: 27
                  nama_sales: Yudi Setiadi
                  no_hp_sales: '+62892772728222'
                  email_sales: yudi@gmail.com
                  no_npwp_sales: 23.131.313.2-131.232
                - sales_type: Sales Agent
                  id: 42
                  value: 42
                  text: Dandung
                  nama_client: Dandung
                  telepone_client: '+62897238283283'
                  email_client: dandung@gmail.com
                  no_rekening_client: '324242342432432'
                  nama_bank_client: B.P.D. SULAWESI SELATAN DAN SULAWESI BARAT
                  pekerjaan_client: Pengusaha
                  no_npwp_client: 23.213.123.1-231.232
                  no_ktp_client: '2222222222'
                  provinsi_client: SUMATERA BARAT
                  kota_client: KABUPATEN PESISIR SELATAN
                  kecamatan_client: LUNANG
                  kode_pos_client: '33333'
                  alamat_ktp_client: jll
                  alamat_domisili_client: jll
                  sales_own_id: 6
                  nama_sales: Santi
                  no_hp_sales: '+6282249254979'
                  email_sales: santi@stellarproperty.id
                  no_npwp_sales: 34.696.663.3-002.000
                - sales_type: Sales Agent
                  id: 19
                  value: 19
                  text: Zara
                  nama_client: Zara
                  telepone_client: '+62773743747388'
                  email_client: zara@gmail.com
                  no_rekening_client: '324242342432432'
                  nama_bank_client: B.P.D. DKI JAKARTA
                  pekerjaan_client: Pegawai
                  no_npwp_client: 12.132.131.3-131.312
                  no_ktp_client: '1211111111111111'
                  provinsi_client: SUMATERA SELATAN
                  kota_client: KABUPATEN MUSI RAWAS
                  kecamatan_client: TUGUMULYO
                  kode_pos_client: '33333'
                  alamat_ktp_client: Jl Raya
                  alamat_domisili_client: Jl Raya
                  sales_own_id: 18
                  nama_sales: Jayanti Patmasari
                  no_hp_sales: '+62349248238423'
                  email_sales: Jayanti@gmail.com
                  no_npwp_sales: 32.423.432.4-532.435
                - sales_type: Sales Agent
                  id: 40
                  value: 40
                  text: pujalf
                  nama_client: pujalf
                  telepone_client: '+6289687332800'
                  email_client: pujalfina@gmail.com
                  no_rekening_client: '123456'
                  nama_bank_client: B.P.D. BALI
                  pekerjaan_client: Dokter Anak
                  no_npwp_client: 11.111.111.1-111.111
                  no_ktp_client: '22222222222222'
                  provinsi_client: SUMATERA BARAT
                  kota_client: KABUPATEN SIJUNJUNG
                  kecamatan_client: LUBUK TAROK
                  kode_pos_client: '1221212'
                  alamat_ktp_client: Jl ktp (alamat KTP)
                  alamat_domisili_client: Jl baru (Alamat Domisili)
                  sales_own_id: 26
                  nama_sales: Alfin Puja
                  no_hp_sales: '+62897373728832'
                  email_sales: Alfin@gmail.com
                  no_npwp_sales: 35.345.645.6-575.676
                - sales_type: Sales Agent
                  id: 79
                  value: 79
                  text: Ridy
                  nama_client: Ridy
                  telepone_client: '+62897626717232'
                  email_client: Ridy@gmail.com
                  no_rekening_client: '324242342432432'
                  nama_bank_client: B.P.D. DKI JAKARTA
                  pekerjaan_client: Pengusaha
                  no_npwp_client: 35.345.645.6-575.676
                  no_ktp_client: '1231231321123232'
                  provinsi_client: SUMATERA BARAT
                  kota_client: KABUPATEN SOLOK
                  kecamatan_client: PAYUNG SEKAKI
                  kode_pos_client: '1234'
                  alamat_ktp_client: aa
                  alamat_domisili_client: aa
                  sales_own_id: 85
                  nama_sales: Ayu
                  no_hp_sales: '+62897827312312'
                  email_sales: Ayu@gmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 39
                  value: 39
                  text: Alfindra
                  nama_client: Alfindra
                  telepone_client: '+62892139193921'
                  email_client: indra@gmail.com
                  no_rekening_client: null
                  nama_bank_client: B.P.D. SUMSEL DAN BABEL
                  pekerjaan_client: Pengusaha
                  no_npwp_client: 35.345.645.6-575.676
                  no_ktp_client: '1231231321123232'
                  provinsi_client: SUMATERA SELATAN
                  kota_client: KABUPATEN MUSI RAWAS
                  kecamatan_client: MUARA BELITI
                  kode_pos_client: '33333'
                  alamat_ktp_client: jl raya (KTP)
                  alamat_domisili_client: Jl Mangga (Dom)
                  sales_own_id: 87
                  nama_sales: Rasyid Akbar
                  no_hp_sales: '+62899765625362'
                  email_sales: Rasyid@gmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 88
                  value: 88
                  text: Cindy
                  nama_client: Cindy
                  telepone_client: '+62892183982392'
                  email_client: pujaalfinamaksum@gmail.com
                  no_rekening_client: '324242342432432'
                  nama_bank_client: B.P.D. YOGYAKARTA
                  pekerjaan_client: Pengusaha
                  no_npwp_client: 35.345.645.6-575.676
                  no_ktp_client: '3333333333333333'
                  provinsi_client: RIAU
                  kota_client: KABUPATEN INDRAGIRI HILIR
                  kecamatan_client: RETEH
                  kode_pos_client: '1221212'
                  alamat_ktp_client: Jl raya (KTP)
                  alamat_domisili_client: Jl Mangga (Domisili)
                  sales_own_id: 87
                  nama_sales: Rasyid Akbar
                  no_hp_sales: '+62899765625362'
                  email_sales: Rasyid@gmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 92
                  value: 92
                  text: nindya
                  nama_client: nindya
                  telepone_client: '+62897218378217'
                  email_client: nindya@gmail.com
                  no_rekening_client: null
                  nama_bank_client: null
                  pekerjaan_client: IKNB
                  no_npwp_client: 12.345.664.6-774.262
                  no_ktp_client: '3894290489891294'
                  provinsi_client: ACEH
                  kota_client: KABUPATEN SIMEULUE
                  kecamatan_client: SIMEULUE TENGAH
                  kode_pos_client: '44312'
                  alamat_ktp_client: Aceh
                  alamat_domisili_client: Aceh
                  sales_own_id: 88
                  nama_sales: Sales Kevin 1
                  no_hp_sales: '+62516513421456'
                  email_sales: saleskevin1@yopmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 90
                  value: 90
                  text: Ciris
                  nama_client: Ciris
                  telepone_client: '+62892831391232'
                  email_client: ciris@yopmail.com
                  no_rekening_client: null
                  nama_bank_client: null
                  pekerjaan_client: IKNB
                  no_npwp_client: 12.345.664.6-774.262
                  no_ktp_client: '3894290489891294'
                  provinsi_client: ACEH
                  kota_client: KABUPATEN SIMEULUE
                  kecamatan_client: TEUPAH SELATAN
                  kode_pos_client: '4413'
                  alamat_ktp_client: Test
                  alamat_domisili_client: Test
                  sales_own_id: 88
                  nama_sales: Sales Kevin 1
                  no_hp_sales: '+62516513421456'
                  email_sales: saleskevin1@yopmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 91
                  value: 91
                  text: Daffa
                  nama_client: Daffa
                  telepone_client: '+6282873828323'
                  email_client: daffa@yopmail.com
                  no_rekening_client: null
                  nama_bank_client: null
                  pekerjaan_client: Swasta
                  no_npwp_client: 12.345.664.6-774.262
                  no_ktp_client: '3894290489891294'
                  provinsi_client: JAWA TIMUR
                  kota_client: KOTA SURABAYA
                  kecamatan_client: GAYUNGAN
                  kode_pos_client: '44312'
                  alamat_ktp_client: Surabaya
                  alamat_domisili_client: Surabaya
                  sales_own_id: 92
                  nama_sales: Sales Kevin 3
                  no_hp_sales: '+62421521512412'
                  email_sales: saleskevin3@yopmail.com
                  no_npwp_sales: null
                - sales_type: Sales Agent
                  id: 38
                  value: 38
                  text: Jaya
                  nama_client: Jaya
                  telepone_client: '+62897348284343'
                  email_client: jaya@gmail.com
                  no_rekening_client: null
                  nama_bank_client: null
                  pekerjaan_client: Swasta
                  no_npwp_client: 12.345.664.6-774.262
                  no_ktp_client: '3894290489891294'
                  provinsi_client: DKI JAKARTA
                  kota_client: KOTA JAKARTA SELATAN
                  kecamatan_client: PASAR MINGGU
                  kode_pos_client: '44312'
                  alamat_ktp_client: Jaksel
                  alamat_domisili_client: Jaksel
                  sales_own_id: 92
                  nama_sales: Sales Kevin 3
                  no_hp_sales: '+62421521512412'
                  email_sales: saleskevin3@yopmail.com
                  no_npwp_sales: null
              project: []
              primary: []
              secondary_unit:
                - id: 194
                  nama_tipe_bangunan: Ruko
                  cara_bayar:
                    - Installment
                  value: Jual-54
                  text: Fatmawati
                  point: 0
                  status_bangunan: Seken
                  status_unit: Jual
                  provinsi: BANTEN
                  kota: KOTA TANGERANG SELATAN
                  kecamatan: PAMULANG
                  alamat: Fatmawati
                  luas_tanah: 100
                  luas_bangunan: 100
                  harga_unit: 1000000000
                  komisi: 2
                  pencairan_komisi:
                    - persentase_bayar: 20
                      persentase_komisi: 33
                    - persentase_bayar: 80
                      persentase_komisi: 33
                    - persentase_bayar: 90
                      persentase_komisi: 34
                  pencairan_kpr: Akad
                  is_skema: 1
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 03:45:34 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=H1E6KFohHO74FeH93llXUyuGC9%2FZWoJT8SkOOOrwhFq4pLSX4FWwwPy%2BbykG0li1Uttlqi6zD1k62CXAfelZ2tW9sZb0fGIN1oiGSJBrw%2BN6H%2Fil99RojmgbNydA9vsWcowYMzQl6sr5cRQj"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867af3285cbce676-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /web-admin/transaksi/booking:
    post:
      summary: Available Unit
      tags:
        - Misc
      operationId: AvailableUnit
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: unit_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: tipe_booking
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AvailableUnitDataRetrieved'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data: {}
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 03:46:44 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=h%2F08VqhjG7U3kpsjMnwFZwgCyBchUw6VwAzU9VMCDZiekPatX6AsQDr9FuEmpC2i1O9i3fPPw0dE2Mw%2FfFejjuR60nULDQdffCVP%2B%2FPzG6IZV0DH%2BT7nmh7o0E2bu9CeBpbZtu26zUSq0fjn"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867af4e0cd71e676-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /web-admin/transaksi/point:
    post:
      summary: Store Point
      tags:
        - Misc
      operationId: StorePoint
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: tipe_agent
          in: formData
          required: true
          type: string
          description: ''
        - name: tipe_point
          in: formData
          required: true
          type: string
          description: ''
        - name: kantor_agent_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: description
          in: formData
          required: true
          type: string
          description: ''
        - name: point_amount
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: status
          in: formData
          required: true
          type: string
          description: ''
        - name: deal_transaksi
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: proyek_primary_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: unit_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: sales_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: is_sales
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: is_skema
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: tipe_booking
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StorePointDataRetrieved'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                tipe_agent: Sales Agent
                tipe_point: Transaksi
                kantor_agent_id: '1'
                description: Skema Point
                point_amount: 3
                proyek_primary_id: '99'
                unit_id: '123'
                status: Pending
                nominal_transaksi: '250000000'
                sales_id: '1'
                sales_inhouse_id: null
                skema_point_id: 2
                updated_at: '2024-03-21T03:47:04.000000Z'
                created_at: '2024-03-21T03:47:04.000000Z'
                id: 42
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 03:47:04 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=ldVzYOw1i7TJNbxElZH84PeXjdsAZTu4HGXMZ8Sj1AovkTdeY0XORzj5M1UoqkN%2BaH1EVUSf7oJJhq6CKuNwN4n0lDEV5icGfiCtpUsUx5%2B2sv1A3B8ORGEmhY0Oe2%2Bt5YLxaU3Nc2WqsmZO"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867af55a7a96e676-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /web-admin/transaksi/update-point:
    post:
      summary: Update Point
      tags:
        - Misc
      operationId: UpdatePoint
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: tipe_point
          in: formData
          required: true
          type: string
          description: ''
        - name: proyek_primary_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: unit_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: status
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UpdatePointDataRetrieved'
          examples:
            application/json:
              success: true
              error: null
              message: Data retrieved.
              data:
                - id: 42
                  tipe_agent: Sales Agent
                  tipe_point: Transaksi
                  proyek_primary_id: 99
                  unit_id: 123
                  skema_point_id: 2
                  registered_sales_id: null
                  event_id: null
                  sales_id: 1
                  kantor_agent_id: 1
                  sales_inhouse_id: null
                  nominal_transaksi: 250000000
                  description: Skema Point
                  point_amount: 3
                  status: Approve
                  approved_by: null
                  approved_date: null
                  created_at: '2024-03-21T03:47:04.000000Z'
                  updated_at: '2024-03-21T03:49:18.000000Z'
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 03:49:18 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=tqUgIWX%2Fjtjl9b6WajO%2B4oZhGX9iCECgy65YWJNFBj6IeGXPPqozDgLnlHEuJ5qUMFc0cwXXI5oXVQDaAmDkaEQmYSPJ6uQN4iIQgCiz1tP0LI2i7QUiy2k7YlUJnQOqUpYW131IIQivzone"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867af8a3c897e676-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /web/portal/store-user:
    post:
      summary: Store User
      tags:
        - Misc
      operationId: StoreUser
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: full_name
          in: formData
          required: true
          type: string
          description: ''
        - name: email
          in: formData
          required: true
          type: string
          description: ''
        - name: password
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: phone_number
          in: formData
          required: true
          type: string
          description: ''
        - name: stellar_admin_number
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BerhasilMenambahkanUser'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil menambahkan user.
              data:
                full_name: tes
                email: james@totalit.co.id
                phone_number: '+62846546456'
                stellar_admin_number: STELLAR-2886385127
                is_admin: true
                slug: tes-jamesattotalit-co-id
                updated_at: '2024-03-21T03:49:32.000000Z'
                created_at: '2024-03-21T03:49:32.000000Z'
                id: 77
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 03:49:32 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=uu450oPphmxZB7d38Eq4UGLh4EODa%2BBrzrznRvv4PmKB%2BQ%2B1I7yAKO%2BCsePALByaJTm1N68baFPHneGE3nWDUl6LhF1NtUxMKyUiQh2YbB77FnNcTNQA451xmj6ED%2BuuQz00GO6x2KCHrybSUQ%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867af8f7bfc58532-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /web-admin/sales/update-komisi-sales:
    post:
      summary: Update Commission
      tags:
        - Misc
      operationId: UpdateCommission
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: sales_id
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
        - name: tipe_sales
          in: formData
          required: true
          type: string
          description: ''
        - name: komisi_sales
          in: formData
          required: true
          type: integer
          format: int32
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Invalidformdata'
          examples:
            application/json:
              success: false
              error: Invalid form data
              message: The sales id field is required.
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 03:50:12 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=URCZh18Eoq6b0JBzXjw7Jgbu8xVt37uTiCyvbYjI6gK%2B57BtcbzuaS6Z4N0SMkNCIDAeFfziXLwuKmAmH2ARGZfPHmGpYqGHcXpnqgCOK7Tui6TNcmH0nnAmhBy4T%2BGcE0GlzsQWzy%2BlDH2b"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867af9f51cd3e676-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /web-admin/transaksi/sales/Secondary:
    get:
      summary: Get Data Sales
      tags:
        - Misc
      operationId: GetDataSales
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetDataSales'
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 03:55:34 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '58'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=vSkJHJ6iMif4k%2F8goccHmLZxkxPR518AGClxA1ZN7Pve1MioyxviboYy6OzHi%2B%2BoZ5fnwJ8%2F6CdMi5XsHWdKxA7NzAVL9%2BfxvJD3m3PmfhwJZdGxK%2BZe%2FjFRwli%2FyNwGsLPVbE4T8rMFBFXM"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867b01cc9f23e676-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /web-admin/transaksi/helper:
    get:
      summary: Transaction Helper
      tags:
        - Misc
      operationId: TransactionHelper
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransactionHelper'
          examples:
            application/json:
              bank:
                - B.P.D. BALI
                - B.P.D. DKI JAKARTA
                - B.P.D. JABAR BANTEN
                - B.P.D. JABAR BANTEN SYARIAH
                - B.P.D. JAWA TENGAH
                - B.P.D. JAWA TIMUR
                - B.P.D. KALIMANTAN BARAT
                - B.P.D. KALIMANTAN SELATAN
                - B.P.D. KALIMANTAN TIMUR DAN KALIMANTAN UTARA
                - B.P.D. NUSA TENGGARA BARAT
                - B.P.D. NUSA TENGGARA TIMUR
                - B.P.D. PAPUA
                - B.P.D. SULAWESI SELATAN DAN SULAWESI BARAT
                - B.P.D. SULAWESI UTARA
                - B.P.D. SUMATERA BARAT
                - B.P.D. SUMSEL DAN BABEL
                - B.P.D. YOGYAKARTA
                - B.T. PENSIUNAN NASIONAL
                - BANK ARTHA GRAHA INTERNASIONAL
                - BANK BANTEN
                - BANK BCA SYARIAH
                - BANK BTPN SYARIAH
                - BANK BUKOPIN
                - BANK BUMI ARTA
                - BANK CENTRAL ASIA (BCA)
                - BANK CHINA CONSTRUCTION INDONESIA
                - BANK CIMB NIAGA
                - BANK COMMONWEALTH
                - BANK CTBC INDONESIA
                - BANK DANAMON INDONESIA
                - BANK DBS INDONESIA
                - BANK DIGITAL BCA
                - BANK GANESHA
                - BANK HSBC INDONESIA
                - BANK IBK INDONESIA
                - BANK INA PERDANA
                - BANK JASA JAKARTA
                - BANK JTRUST INDONESIA
                - BANK KEB HANA
                - BANK MANDIRI
                - BANK MASPION INDONESIA
                - BANK MAYAPADA INTERNATIONAL
                - BANK MAYBANK INDONESIA
                - BANK MAYORA
                - BANK MEGA
                - BANK MESTIKA DHARMA
                - BANK MNC INTERNASIONAL
                - BANK MUAMALAT INDONESIA
                - BANK MULTIARTA INDONESIA
                - BANK NATIONALNOBU
                - BANK NEGARA INDONESIA 1946 (BNI)
                - BANK OCBC NISP
                - BANK OF CHINA
                - BANK OKE INDONESIA
                - BANK PANIN DUBAI SYARIAH
                - BANK PERMATA
                - BANK QNB INDONESIA
                - BANK RAKYAT INDONESIA (BRI)
                - BANK SAHABAT SAMPOERNA
                - BANK SBI INDONESIA
                - BANK SHINHAN INDONESIA
                - BANK SINARMAS
                - BANK SYARIAH BRI
                - BANK SYARIAH BUKOPIN
                - BANK SYARIAH MANDIRI
                - BANK TABUNGAN NEGARA (BTN)
                - BANK UOB INDONESIA
                - BANK VICTORIA INTERNATIONAL
                - BANK WOORI SAUDARA INDONESIA 1906
                - BNI SYARIAH
                - CITIBANK
                - MEGA SYARIAH INDONESIA
                - PAN INDONESIA BANK LTD.
                - RABOBANK INTERNASIONAL INDONESIA
                - STANDARD CHARTERED BANK
              cara_pembayaran:
                - Kartu Kredit
                - Setoran Tunai / Cash
                - Transfer Bank melalui ATM
                - Transfer Bank melalui Mobile Banking
                - Transfer Bank melalui Internet Banking
                - E-Wallet (OVO/GOPAY/LINKAJA)
                - Pembayaran di Gerai Retail (Indomaret / Alfamart)
              province:
                - ACEH
                - SUMATERA UTARA
                - SUMATERA BARAT
                - RIAU
                - JAMBI
                - SUMATERA SELATAN
                - BENGKULU
                - LAMPUNG
                - KEPULAUAN BANGKA BELITUNG
                - KEPULAUAN RIAU
                - DKI JAKARTA
                - JAWA BARAT
                - JAWA TENGAH
                - DI YOGYAKARTA
                - JAWA TIMUR
                - BANTEN
                - BALI
                - NUSA TENGGARA BARAT
                - NUSA TENGGARA TIMUR
                - KALIMANTAN BARAT
                - KALIMANTAN TENGAH
                - KALIMANTAN SELATAN
                - KALIMANTAN TIMUR
                - KALIMANTAN UTARA
                - SULAWESI UTARA
                - SULAWESI TENGAH
                - SULAWESI SELATAN
                - SULAWESI TENGGARA
                - GORONTALO
                - SULAWESI BARAT
                - MALUKU
                - MALUKU UTARA
                - PAPUA BARAT
                - PAPUA
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 03:58:07 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            Access-Control-Allow-Origin:
              type: string
              default: '*'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=9CpRZfHE2S%2BfG6WZQ3jJkOFp6XWJpmru3afc0%2BQl4XjSrb1MJsQCEIlrq75zHpKfdsYphVhpi58NEt6fju%2Bdrnp9128AUu3XOMXp4UCkc0LhLCg3OXmq221ehJh0FFNFxCwEKUcuu2Gp6ssp"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867b058acebae676-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
  /web/portal/delete-user:
    get:
      summary: Delete User
      tags:
        - Misc
      operationId: DeleteUser
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: stellar_admin_number
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeleteUser'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil menghapus user.
              data: 1
          headers:
            Date:
              type: string
              default: Thu, 21 Mar 2024 04:23:54 GMT
            Transfer-Encoding:
              type: string
              default: chunked
            Connection:
              type: string
              default: keep-alive
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: '60'
            X-RateLimit-Remaining:
              type: string
              default: '59'
            CF-Cache-Status:
              type: string
              default: DYNAMIC
            Report-To:
              type: string
              default: '{"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=0pbNzeQBXoTi1NZcxfVfyZJKE8h8%2BYezptaO8zAQ8YLOFAgl7oBKk0eJfO%2FYxaoFJF%2FZhPt5wM5fk4fHtCAb4CNXAOzmRCK06UPO3aJwWn0Mx2Kjhv6It%2BireDlsT4epwhRClXFhigCBjVKnyQ%3D%3D"}],"group":"cf-nel","max_age":604800}'
            NEL:
              type: string
              default: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              type: string
              default: cloudflare
            CF-RAY:
              type: string
              default: 867b2b5149548b5d-HKG
            Content-Encoding:
              type: string
              default: br
            alt-svc:
              type: string
              default: h3=":443"; ma=86400
definitions:
  GetDataSalesByBookingType:
    title: GetDataSalesByBookingType
    example:
      klien:
        - sales_type: Sales Agent
          id: 43
          value: 43
          text: Ikhwan
          nama_client: Ikhwan
          telepone_client: '+62823742847382'
          email_client: Ikhwan@gmail.com
          no_rekening_client: '324242342432432'
          nama_bank_client: null
          pekerjaan_client: Pegawai
          no_npwp_client: 35.345.645.6-575.676
          no_ktp_client: '1231231321123232'
          provinsi_client: JAMBI
          kota_client: KABUPATEN TANJUNG JABUNG TIMUR
          kecamatan_client: MUARA SABAK TIMUR
          kode_pos_client: '1234'
          alamat_ktp_client: Jl raya
          alamat_domisili_client: Jl raya
          sales_own_id: 7
          nama_sales: Atikah Salim
          no_hp_sales: '+62856635632'
          email_sales: atikah@gmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 41
          value: 41
          text: Andre
          nama_client: Andre
          telepone_client: '+62893211939213'
          email_client: Andre@gmail.com
          no_rekening_client: '454353543543'
          nama_bank_client: B.P.D. JAWA TENGAH
          pekerjaan_client: Pegawai
          no_npwp_client: 11.111.111.1-111.111
          no_ktp_client: '1111111111111111'
          provinsi_client: JAWA TENGAH
          kota_client: KABUPATEN KEBUMEN
          kecamatan_client: PURING
          kode_pos_client: '11111'
          alamat_ktp_client: Jl mangga
          alamat_domisili_client: Jl mangga
          sales_own_id: 25
          nama_sales: Sales1
          no_hp_sales: '+628986187276'
          email_sales: daffa@totalit.co.id
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 37
          value: 37
          text: Sanusi
          nama_client: Sanusi
          telepone_client: '+62899292929288'
          email_client: Sanusi@gmail.com
          no_rekening_client: '324242342432432'
          nama_bank_client: B.P.D. JAWA TENGAH
          pekerjaan_client: Pengusaha
          no_npwp_client: 22.222.222.2-222.222
          no_ktp_client: '2222222222'
          provinsi_client: RIAU
          kota_client: KABUPATEN INDRAGIRI HILIR
          kecamatan_client: KEMPAS
          kode_pos_client: '2222'
          alamat_ktp_client: jll
          alamat_domisili_client: jll
          sales_own_id: 23
          nama_sales: Yura Yunita
          no_hp_sales: '+62864564543534'
          email_sales: daffa1@totalit.co.id
          no_npwp_sales: 22.132.131.2-313.122
        - sales_type: Sales Agent
          id: 36
          value: 36
          text: Astri Klien
          nama_client: Astri Klien
          telepone_client: '+6245435345435'
          email_client: Astri@gmail.com
          no_rekening_client: '324242342432432'
          nama_bank_client: B.P.D. JABAR BANTEN SYARIAH
          pekerjaan_client: Wirausaha
          no_npwp_client: 33.333.333.3-333.333
          no_ktp_client: '3333333333333333'
          provinsi_client: NUSA TENGGARA TIMUR
          kota_client: KABUPATEN BELU
          kecamatan_client: LASIOLAT
          kode_pos_client: '33333'
          alamat_ktp_client: Jll
          alamat_domisili_client: Jll
          sales_own_id: 29
          nama_sales: Sales Agent
          no_hp_sales: '+6289374823432'
          email_sales: salesagent@gmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 35
          value: 35
          text: Asma Klien
          nama_client: Asma Klien
          telepone_client: '+62654364354354'
          email_client: asma@gmail.com
          no_rekening_client: '324242342432432'
          nama_bank_client: B.P.D. JAWA TENGAH
          pekerjaan_client: Dokter
          no_npwp_client: 44.444.444.4-444.444
          no_ktp_client: '4444444444'
          provinsi_client: KALIMANTAN SELATAN
          kota_client: KABUPATEN HULU SUNGAI SELATAN
          kecamatan_client: ANGKINANG
          kode_pos_client: '4444'
          alamat_ktp_client: mangga
          alamat_domisili_client: mangga
          sales_own_id: 29
          nama_sales: Sales Agent
          no_hp_sales: '+6289374823432'
          email_sales: salesagent@gmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 33
          value: 33
          text: Adinda Klien
          nama_client: Adinda Klien
          telepone_client: '+62892842839293'
          email_client: Adinda@gmail.com
          no_rekening_client: '454353543543'
          nama_bank_client: B.P.D. JABAR BANTEN
          pekerjaan_client: Pengusaha
          no_npwp_client: 12.132.131.3-131.312
          no_ktp_client: '2222222222'
          provinsi_client: JAWA BARAT
          kota_client: KABUPATEN SUKABUMI
          kecamatan_client: JAMPANG KULON
          kode_pos_client: '2222'
          alamat_ktp_client: uu
          alamat_domisili_client: uu
          sales_own_id: 29
          nama_sales: Sales Agent
          no_hp_sales: '+6289374823432'
          email_sales: salesagent@gmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 5
          value: 5
          text: Ajup
          nama_client: Ajup
          telepone_client: '+62343224242434'
          email_client: adm@gmail.com
          no_rekening_client: '454353543543'
          nama_bank_client: B.P.D. JAWA TIMUR
          pekerjaan_client: Pegawai
          no_npwp_client: 12.132.131.3-131.312
          no_ktp_client: '2324434332222222'
          provinsi_client: JAWA TENGAH
          kota_client: KABUPATEN KEBUMEN
          kecamatan_client: PETANAHAN
          kode_pos_client: '1234'
          alamat_ktp_client: jl
          alamat_domisili_client: jl
          sales_own_id: 28
          nama_sales: Puja Alfina Monica
          no_hp_sales: '+62892982828828'
          email_sales: pujaalfinamaksum@gmail.com
          no_npwp_sales: 12.132.131.3-131.312
        - sales_type: Sales Agent
          id: 29
          value: 29
          text: Ashanti
          nama_client: Ashanti
          telepone_client: '+62892839182193'
          email_client: Ashanti@gmail.com
          no_rekening_client: null
          nama_bank_client: null
          pekerjaan_client: Dokter
          no_npwp_client: 24.324.254.3-543.645
          no_ktp_client: '3333333333333333'
          provinsi_client: BANTEN
          kota_client: KOTA TANGERANG
          kecamatan_client: LARANGAN
          kode_pos_client: '33333'
          alamat_ktp_client: jlll
          alamat_domisili_client: jllll
          sales_own_id: 9
          nama_sales: Gwen
          no_hp_sales: '+6289282737833'
          email_sales: Gwen@gmail.com
          no_npwp_sales: 12.132.131.3-131.312
        - sales_type: Sales Agent
          id: 31
          value: 31
          text: Zizah Klien
          nama_client: Zizah Klien
          telepone_client: '+62892839392932'
          email_client: zizah@gmail.com
          no_rekening_client: '454353543543'
          nama_bank_client: BANK IBK INDONESIA
          pekerjaan_client: Wirausaha
          no_npwp_client: 32.423.432.4-532.435
          no_ktp_client: '2324434332222222'
          provinsi_client: KALIMANTAN TIMUR
          kota_client: KOTA BONTANG
          kecamatan_client: BONTANG UTARA
          kode_pos_client: '33333'
          alamat_ktp_client: jj
          alamat_domisili_client: jj
          sales_own_id: 27
          nama_sales: Yudi Setiadi
          no_hp_sales: '+62892772728222'
          email_sales: yudi@gmail.com
          no_npwp_sales: 23.131.313.2-131.232
        - sales_type: Sales Agent
          id: 42
          value: 42
          text: Dandung
          nama_client: Dandung
          telepone_client: '+62897238283283'
          email_client: dandung@gmail.com
          no_rekening_client: '324242342432432'
          nama_bank_client: B.P.D. SULAWESI SELATAN DAN SULAWESI BARAT
          pekerjaan_client: Pengusaha
          no_npwp_client: 23.213.123.1-231.232
          no_ktp_client: '2222222222'
          provinsi_client: SUMATERA BARAT
          kota_client: KABUPATEN PESISIR SELATAN
          kecamatan_client: LUNANG
          kode_pos_client: '33333'
          alamat_ktp_client: jll
          alamat_domisili_client: jll
          sales_own_id: 6
          nama_sales: Santi
          no_hp_sales: '+6282249254979'
          email_sales: santi@stellarproperty.id
          no_npwp_sales: 34.696.663.3-002.000
        - sales_type: Sales Agent
          id: 19
          value: 19
          text: Zara
          nama_client: Zara
          telepone_client: '+62773743747388'
          email_client: zara@gmail.com
          no_rekening_client: '324242342432432'
          nama_bank_client: B.P.D. DKI JAKARTA
          pekerjaan_client: Pegawai
          no_npwp_client: 12.132.131.3-131.312
          no_ktp_client: '1211111111111111'
          provinsi_client: SUMATERA SELATAN
          kota_client: KABUPATEN MUSI RAWAS
          kecamatan_client: TUGUMULYO
          kode_pos_client: '33333'
          alamat_ktp_client: Jl Raya
          alamat_domisili_client: Jl Raya
          sales_own_id: 18
          nama_sales: Jayanti Patmasari
          no_hp_sales: '+62349248238423'
          email_sales: Jayanti@gmail.com
          no_npwp_sales: 32.423.432.4-532.435
        - sales_type: Sales Agent
          id: 40
          value: 40
          text: pujalf
          nama_client: pujalf
          telepone_client: '+6289687332800'
          email_client: pujalfina@gmail.com
          no_rekening_client: '123456'
          nama_bank_client: B.P.D. BALI
          pekerjaan_client: Dokter Anak
          no_npwp_client: 11.111.111.1-111.111
          no_ktp_client: '22222222222222'
          provinsi_client: SUMATERA BARAT
          kota_client: KABUPATEN SIJUNJUNG
          kecamatan_client: LUBUK TAROK
          kode_pos_client: '1221212'
          alamat_ktp_client: Jl ktp (alamat KTP)
          alamat_domisili_client: Jl baru (Alamat Domisili)
          sales_own_id: 26
          nama_sales: Alfin Puja
          no_hp_sales: '+62897373728832'
          email_sales: Alfin@gmail.com
          no_npwp_sales: 35.345.645.6-575.676
        - sales_type: Sales Agent
          id: 79
          value: 79
          text: Ridy
          nama_client: Ridy
          telepone_client: '+62897626717232'
          email_client: Ridy@gmail.com
          no_rekening_client: '324242342432432'
          nama_bank_client: B.P.D. DKI JAKARTA
          pekerjaan_client: Pengusaha
          no_npwp_client: 35.345.645.6-575.676
          no_ktp_client: '1231231321123232'
          provinsi_client: SUMATERA BARAT
          kota_client: KABUPATEN SOLOK
          kecamatan_client: PAYUNG SEKAKI
          kode_pos_client: '1234'
          alamat_ktp_client: aa
          alamat_domisili_client: aa
          sales_own_id: 85
          nama_sales: Ayu
          no_hp_sales: '+62897827312312'
          email_sales: Ayu@gmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 39
          value: 39
          text: Alfindra
          nama_client: Alfindra
          telepone_client: '+62892139193921'
          email_client: indra@gmail.com
          no_rekening_client: null
          nama_bank_client: B.P.D. SUMSEL DAN BABEL
          pekerjaan_client: Pengusaha
          no_npwp_client: 35.345.645.6-575.676
          no_ktp_client: '1231231321123232'
          provinsi_client: SUMATERA SELATAN
          kota_client: KABUPATEN MUSI RAWAS
          kecamatan_client: MUARA BELITI
          kode_pos_client: '33333'
          alamat_ktp_client: jl raya (KTP)
          alamat_domisili_client: Jl Mangga (Dom)
          sales_own_id: 87
          nama_sales: Rasyid Akbar
          no_hp_sales: '+62899765625362'
          email_sales: Rasyid@gmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 88
          value: 88
          text: Cindy
          nama_client: Cindy
          telepone_client: '+62892183982392'
          email_client: pujaalfinamaksum@gmail.com
          no_rekening_client: '324242342432432'
          nama_bank_client: B.P.D. YOGYAKARTA
          pekerjaan_client: Pengusaha
          no_npwp_client: 35.345.645.6-575.676
          no_ktp_client: '3333333333333333'
          provinsi_client: RIAU
          kota_client: KABUPATEN INDRAGIRI HILIR
          kecamatan_client: RETEH
          kode_pos_client: '1221212'
          alamat_ktp_client: Jl raya (KTP)
          alamat_domisili_client: Jl Mangga (Domisili)
          sales_own_id: 87
          nama_sales: Rasyid Akbar
          no_hp_sales: '+62899765625362'
          email_sales: Rasyid@gmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 92
          value: 92
          text: nindya
          nama_client: nindya
          telepone_client: '+62897218378217'
          email_client: nindya@gmail.com
          no_rekening_client: null
          nama_bank_client: null
          pekerjaan_client: IKNB
          no_npwp_client: 12.345.664.6-774.262
          no_ktp_client: '3894290489891294'
          provinsi_client: ACEH
          kota_client: KABUPATEN SIMEULUE
          kecamatan_client: SIMEULUE TENGAH
          kode_pos_client: '44312'
          alamat_ktp_client: Aceh
          alamat_domisili_client: Aceh
          sales_own_id: 88
          nama_sales: Sales Kevin 1
          no_hp_sales: '+62516513421456'
          email_sales: saleskevin1@yopmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 90
          value: 90
          text: Ciris
          nama_client: Ciris
          telepone_client: '+62892831391232'
          email_client: ciris@yopmail.com
          no_rekening_client: null
          nama_bank_client: null
          pekerjaan_client: IKNB
          no_npwp_client: 12.345.664.6-774.262
          no_ktp_client: '3894290489891294'
          provinsi_client: ACEH
          kota_client: KABUPATEN SIMEULUE
          kecamatan_client: TEUPAH SELATAN
          kode_pos_client: '4413'
          alamat_ktp_client: Test
          alamat_domisili_client: Test
          sales_own_id: 88
          nama_sales: Sales Kevin 1
          no_hp_sales: '+62516513421456'
          email_sales: saleskevin1@yopmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 91
          value: 91
          text: Daffa
          nama_client: Daffa
          telepone_client: '+6282873828323'
          email_client: daffa@yopmail.com
          no_rekening_client: null
          nama_bank_client: null
          pekerjaan_client: Swasta
          no_npwp_client: 12.345.664.6-774.262
          no_ktp_client: '3894290489891294'
          provinsi_client: JAWA TIMUR
          kota_client: KOTA SURABAYA
          kecamatan_client: GAYUNGAN
          kode_pos_client: '44312'
          alamat_ktp_client: Surabaya
          alamat_domisili_client: Surabaya
          sales_own_id: 92
          nama_sales: Sales Kevin 3
          no_hp_sales: '+62421521512412'
          email_sales: saleskevin3@yopmail.com
          no_npwp_sales: null
        - sales_type: Sales Agent
          id: 38
          value: 38
          text: Jaya
          nama_client: Jaya
          telepone_client: '+62897348284343'
          email_client: jaya@gmail.com
          no_rekening_client: null
          nama_bank_client: null
          pekerjaan_client: Swasta
          no_npwp_client: 12.345.664.6-774.262
          no_ktp_client: '3894290489891294'
          provinsi_client: DKI JAKARTA
          kota_client: KOTA JAKARTA SELATAN
          kecamatan_client: PASAR MINGGU
          kode_pos_client: '44312'
          alamat_ktp_client: Jaksel
          alamat_domisili_client: Jaksel
          sales_own_id: 92
          nama_sales: Sales Kevin 3
          no_hp_sales: '+62421521512412'
          email_sales: saleskevin3@yopmail.com
          no_npwp_sales: null
      project: []
      primary: []
      secondary_unit:
        - id: 194
          nama_tipe_bangunan: Ruko
          cara_bayar:
            - Installment
          value: Jual-54
          text: Fatmawati
          point: 0
          status_bangunan: Seken
          status_unit: Jual
          provinsi: BANTEN
          kota: KOTA TANGERANG SELATAN
          kecamatan: PAMULANG
          alamat: Fatmawati
          luas_tanah: 100
          luas_bangunan: 100
          harga_unit: 1000000000
          komisi: 2
          pencairan_komisi:
            - persentase_bayar: 20
              persentase_komisi: 33
            - persentase_bayar: 80
              persentase_komisi: 33
            - persentase_bayar: 90
              persentase_komisi: 34
          pencairan_kpr: Akad
          is_skema: 1
    type: object
    properties:
      klien:
        type: array
        items:
          $ref: '#/definitions/Klien'
      project:
        type: array
        items:
          type: string
      primary:
        type: array
        items:
          type: string
      secondary_unit:
        type: array
        items:
          $ref: '#/definitions/SecondaryUnit'
    required:
      - klien
      - project
      - primary
      - secondary_unit
  Klien:
    title: Klien
    example:
      sales_type: Sales Agent
      id: 43
      value: 43
      text: Ikhwan
      nama_client: Ikhwan
      telepone_client: '+62823742847382'
      email_client: Ikhwan@gmail.com
      no_rekening_client: '324242342432432'
      nama_bank_client: null
      pekerjaan_client: Pegawai
      no_npwp_client: 35.345.645.6-575.676
      no_ktp_client: '1231231321123232'
      provinsi_client: JAMBI
      kota_client: KABUPATEN TANJUNG JABUNG TIMUR
      kecamatan_client: MUARA SABAK TIMUR
      kode_pos_client: '1234'
      alamat_ktp_client: Jl raya
      alamat_domisili_client: Jl raya
      sales_own_id: 7
      nama_sales: Atikah Salim
      no_hp_sales: '+62856635632'
      email_sales: atikah@gmail.com
      no_npwp_sales: null
    type: object
    properties:
      sales_type:
        type: string
      id:
        type: integer
        format: int32
      value:
        type: integer
        format: int32
      text:
        type: string
      nama_client:
        type: string
      telepone_client:
        type: string
      email_client:
        type: string
      no_rekening_client:
        type: string
      nama_bank_client:
        type: string
      pekerjaan_client:
        type: string
      no_npwp_client:
        type: string
      no_ktp_client:
        type: string
      provinsi_client:
        type: string
      kota_client:
        type: string
      kecamatan_client:
        type: string
      kode_pos_client:
        type: string
      alamat_ktp_client:
        type: string
      alamat_domisili_client:
        type: string
      sales_own_id:
        type: integer
        format: int32
      nama_sales:
        type: string
      no_hp_sales:
        type: string
      email_sales:
        type: string
      no_npwp_sales:
        type: string
    required:
      - sales_type
      - id
      - value
      - text
      - nama_client
      - telepone_client
      - email_client
      - no_rekening_client
      - nama_bank_client
      - pekerjaan_client
      - no_npwp_client
      - no_ktp_client
      - provinsi_client
      - kota_client
      - kecamatan_client
      - kode_pos_client
      - alamat_ktp_client
      - alamat_domisili_client
      - sales_own_id
      - nama_sales
      - no_hp_sales
      - email_sales
      - no_npwp_sales
  SecondaryUnit:
    title: SecondaryUnit
    example:
      id: 194
      nama_tipe_bangunan: Ruko
      cara_bayar:
        - Installment
      value: Jual-54
      text: Fatmawati
      point: 0
      status_bangunan: Seken
      status_unit: Jual
      provinsi: BANTEN
      kota: KOTA TANGERANG SELATAN
      kecamatan: PAMULANG
      alamat: Fatmawati
      luas_tanah: 100
      luas_bangunan: 100
      harga_unit: 1000000000
      komisi: 2
      pencairan_komisi:
        - persentase_bayar: 20
          persentase_komisi: 33
        - persentase_bayar: 80
          persentase_komisi: 33
        - persentase_bayar: 90
          persentase_komisi: 34
      pencairan_kpr: Akad
      is_skema: 1
    type: object
    properties:
      id:
        type: integer
        format: int32
      nama_tipe_bangunan:
        type: string
      cara_bayar:
        type: array
        items:
          type: string
      value:
        type: string
      text:
        type: string
      point:
        type: integer
        format: int32
      status_bangunan:
        type: string
      status_unit:
        type: string
      provinsi:
        type: string
      kota:
        type: string
      kecamatan:
        type: string
      alamat:
        type: string
      luas_tanah:
        type: integer
        format: int32
      luas_bangunan:
        type: integer
        format: int32
      harga_unit:
        type: integer
        format: int32
      komisi:
        type: integer
        format: int32
      pencairan_komisi:
        type: array
        items:
          $ref: '#/definitions/PencairanKomisi'
      pencairan_kpr:
        type: string
      is_skema:
        type: integer
        format: int32
    required:
      - id
      - nama_tipe_bangunan
      - cara_bayar
      - value
      - text
      - point
      - status_bangunan
      - status_unit
      - provinsi
      - kota
      - kecamatan
      - alamat
      - luas_tanah
      - luas_bangunan
      - harga_unit
      - komisi
      - pencairan_komisi
      - pencairan_kpr
      - is_skema
  PencairanKomisi:
    title: PencairanKomisi
    example:
      persentase_bayar: 20
      persentase_komisi: 33
    type: object
    properties:
      persentase_bayar:
        type: integer
        format: int32
      persentase_komisi:
        type: integer
        format: int32
    required:
      - persentase_bayar
      - persentase_komisi
  AvailableUnitDataRetrieved:
    title: AvailableUnitDataRetrieved
    example:
      success: true
      error: null
      message: Data retrieved.
      data: {}
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: object
    required:
      - success
      - error
      - message
      - data
  StorePointDataRetrieved:
    title: StorePointDataRetrieved
    example:
      success: true
      error: null
      message: Data retrieved.
      data:
        tipe_agent: Sales Agent
        tipe_point: Transaksi
        kantor_agent_id: '1'
        description: Skema Point
        point_amount: 3
        proyek_primary_id: '99'
        unit_id: '123'
        status: Pending
        nominal_transaksi: '250000000'
        sales_id: '1'
        sales_inhouse_id: null
        skema_point_id: 2
        updated_at: '2024-03-21T03:47:04.000000Z'
        created_at: '2024-03-21T03:47:04.000000Z'
        id: 42
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data'
    required:
      - success
      - error
      - message
      - data
  Data:
    title: Data
    example:
      tipe_agent: Sales Agent
      tipe_point: Transaksi
      kantor_agent_id: '1'
      description: Skema Point
      point_amount: 3
      proyek_primary_id: '99'
      unit_id: '123'
      status: Pending
      nominal_transaksi: '250000000'
      sales_id: '1'
      sales_inhouse_id: null
      skema_point_id: 2
      updated_at: '2024-03-21T03:47:04.000000Z'
      created_at: '2024-03-21T03:47:04.000000Z'
      id: 42
    type: object
    properties:
      tipe_agent:
        type: string
      tipe_point:
        type: string
      kantor_agent_id:
        type: string
      description:
        type: string
      point_amount:
        type: integer
        format: int32
      proyek_primary_id:
        type: string
      unit_id:
        type: string
      status:
        type: string
      nominal_transaksi:
        type: string
      sales_id:
        type: string
      sales_inhouse_id:
        type: string
      skema_point_id:
        type: integer
        format: int32
      updated_at:
        type: string
      created_at:
        type: string
      id:
        type: integer
        format: int32
    required:
      - tipe_agent
      - tipe_point
      - kantor_agent_id
      - description
      - point_amount
      - proyek_primary_id
      - unit_id
      - status
      - nominal_transaksi
      - sales_id
      - sales_inhouse_id
      - skema_point_id
      - updated_at
      - created_at
      - id
  UpdatePointDataRetrieved:
    title: UpdatePointDataRetrieved
    example:
      success: true
      error: null
      message: Data retrieved.
      data:
        - id: 42
          tipe_agent: Sales Agent
          tipe_point: Transaksi
          proyek_primary_id: 99
          unit_id: 123
          skema_point_id: 2
          registered_sales_id: null
          event_id: null
          sales_id: 1
          kantor_agent_id: 1
          sales_inhouse_id: null
          nominal_transaksi: 250000000
          description: Skema Point
          point_amount: 3
          status: Approve
          approved_by: null
          approved_date: null
          created_at: '2024-03-21T03:47:04.000000Z'
          updated_at: '2024-03-21T03:49:18.000000Z'
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: array
        items:
          $ref: '#/definitions/Data1'
    required:
      - success
      - error
      - message
      - data
  Data1:
    title: Data1
    example:
      id: 42
      tipe_agent: Sales Agent
      tipe_point: Transaksi
      proyek_primary_id: 99
      unit_id: 123
      skema_point_id: 2
      registered_sales_id: null
      event_id: null
      sales_id: 1
      kantor_agent_id: 1
      sales_inhouse_id: null
      nominal_transaksi: 250000000
      description: Skema Point
      point_amount: 3
      status: Approve
      approved_by: null
      approved_date: null
      created_at: '2024-03-21T03:47:04.000000Z'
      updated_at: '2024-03-21T03:49:18.000000Z'
    type: object
    properties:
      id:
        type: integer
        format: int32
      tipe_agent:
        type: string
      tipe_point:
        type: string
      proyek_primary_id:
        type: integer
        format: int32
      unit_id:
        type: integer
        format: int32
      skema_point_id:
        type: integer
        format: int32
      registered_sales_id:
        type: string
      event_id:
        type: string
      sales_id:
        type: integer
        format: int32
      kantor_agent_id:
        type: integer
        format: int32
      sales_inhouse_id:
        type: string
      nominal_transaksi:
        type: integer
        format: int32
      description:
        type: string
      point_amount:
        type: integer
        format: int32
      status:
        type: string
      approved_by:
        type: string
      approved_date:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
    required:
      - id
      - tipe_agent
      - tipe_point
      - proyek_primary_id
      - unit_id
      - skema_point_id
      - registered_sales_id
      - event_id
      - sales_id
      - kantor_agent_id
      - sales_inhouse_id
      - nominal_transaksi
      - description
      - point_amount
      - status
      - approved_by
      - approved_date
      - created_at
      - updated_at
  BerhasilMenambahkanUser:
    title: BerhasilMenambahkanUser
    example:
      success: true
      error: null
      message: Berhasil menambahkan user.
      data:
        full_name: tes
        email: james@totalit.co.id
        phone_number: '+62846546456'
        stellar_admin_number: STELLAR-2886385127
        is_admin: true
        slug: tes-jamesattotalit-co-id
        updated_at: '2024-03-21T03:49:32.000000Z'
        created_at: '2024-03-21T03:49:32.000000Z'
        id: 77
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data2'
    required:
      - success
      - error
      - message
      - data
  Data2:
    title: Data2
    example:
      full_name: tes
      email: james@totalit.co.id
      phone_number: '+62846546456'
      stellar_admin_number: STELLAR-2886385127
      is_admin: true
      slug: tes-jamesattotalit-co-id
      updated_at: '2024-03-21T03:49:32.000000Z'
      created_at: '2024-03-21T03:49:32.000000Z'
      id: 77
    type: object
    properties:
      full_name:
        type: string
      email:
        type: string
      phone_number:
        type: string
      stellar_admin_number:
        type: string
      is_admin:
        type: boolean
      slug:
        type: string
      updated_at:
        type: string
      created_at:
        type: string
      id:
        type: integer
        format: int32
    required:
      - full_name
      - email
      - phone_number
      - stellar_admin_number
      - is_admin
      - slug
      - updated_at
      - created_at
      - id
  Invalidformdata:
    title: Invalidformdata
    example:
      success: false
      error: Invalid form data
      message: The sales id field is required.
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
    required:
      - success
      - error
      - message
  Datasuccessfullyupdate:
    title: Datasuccessfullyupdate
    example:
      success: true
      error: null
      message: Data successfully updated.
      data:
        id: 30
        id_user: 50
        slug: null
        no_telepon_agent_referensi: null
        tipe_agent: Agent Property
        kantor_agent: 2
        principal_id: 5
        nama_depan: Jefry Alexander
        nama_belakang: Ngarbingan
        no_ktp: null
        jenis_kelamin: Laki-laki
        tempat_lahir: Jakarta
        tanggal_lahir: '1979-07-19'
        alamat: "Taman Mangu Indah\r\nJl. Eboni 1 Blok E14 No. 2 \r\nPondok Aren, Tangerang Selatan"
        provinsi: BANTEN
        kota: KOTA TANGERANG SELATAN
        kecamatan: PONDOK AREN
        kelurahan: null
        rt: '003'
        rw: '006'
        no_rekening: '0921278615'
        nama_rekening: Jefry Alexander Ngarbingan
        bank: BANK CENTRAL ASIA (BCA)
        no_npwp: 88.681.165.2-013.000
        note: null
        foto_ktp: Jeffry Ngarbingan-6551adb456c2e.jpg
        foto_npwp: Jeffry Ngarbingan-6551adb45839c.jpg
        foto_selfie: Jeffry Ngarbingan-6551adb458e0f.jpg
        status_sales: Pending
        approved_date: null
        ratings: null
        status_aktif: Aktif
        kode_referral: null
        kode_referral_agent: null
        created_at: '2023-11-13T05:01:40.000000Z'
        updated_at: '2024-03-21T04:03:56.000000Z'
        nama_kontak_darurat: null
        no_kontak_darurat: null
        hubungan_keluarga: null
        komisi_sales: '20'
        komisi_kantor: 80
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data3'
    required:
      - success
      - error
      - message
      - data
  Data3:
    title: Data3
    example:
      id: 30
      id_user: 50
      slug: null
      no_telepon_agent_referensi: null
      tipe_agent: Agent Property
      kantor_agent: 2
      principal_id: 5
      nama_depan: Jefry Alexander
      nama_belakang: Ngarbingan
      no_ktp: null
      jenis_kelamin: Laki-laki
      tempat_lahir: Jakarta
      tanggal_lahir: '1979-07-19'
      alamat: "Taman Mangu Indah\r\nJl. Eboni 1 Blok E14 No. 2 \r\nPondok Aren, Tangerang Selatan"
      provinsi: BANTEN
      kota: KOTA TANGERANG SELATAN
      kecamatan: PONDOK AREN
      kelurahan: null
      rt: '003'
      rw: '006'
      no_rekening: '0921278615'
      nama_rekening: Jefry Alexander Ngarbingan
      bank: BANK CENTRAL ASIA (BCA)
      no_npwp: 88.681.165.2-013.000
      note: null
      foto_ktp: Jeffry Ngarbingan-6551adb456c2e.jpg
      foto_npwp: Jeffry Ngarbingan-6551adb45839c.jpg
      foto_selfie: Jeffry Ngarbingan-6551adb458e0f.jpg
      status_sales: Pending
      approved_date: null
      ratings: null
      status_aktif: Aktif
      kode_referral: null
      kode_referral_agent: null
      created_at: '2023-11-13T05:01:40.000000Z'
      updated_at: '2024-03-21T04:03:56.000000Z'
      nama_kontak_darurat: null
      no_kontak_darurat: null
      hubungan_keluarga: null
      komisi_sales: '20'
      komisi_kantor: 80
    type: object
    properties:
      id:
        type: integer
        format: int32
      id_user:
        type: integer
        format: int32
      slug:
        type: string
      no_telepon_agent_referensi:
        type: string
      tipe_agent:
        type: string
      kantor_agent:
        type: integer
        format: int32
      principal_id:
        type: integer
        format: int32
      nama_depan:
        type: string
      nama_belakang:
        type: string
      no_ktp:
        type: string
      jenis_kelamin:
        type: string
      tempat_lahir:
        type: string
      tanggal_lahir:
        type: string
      alamat:
        type: string
      provinsi:
        type: string
      kota:
        type: string
      kecamatan:
        type: string
      kelurahan:
        type: string
      rt:
        type: string
      rw:
        type: string
      no_rekening:
        type: string
      nama_rekening:
        type: string
      bank:
        type: string
      no_npwp:
        type: string
      note:
        type: string
      foto_ktp:
        type: string
      foto_npwp:
        type: string
      foto_selfie:
        type: string
      status_sales:
        type: string
      approved_date:
        type: string
      ratings:
        type: string
      status_aktif:
        type: string
      kode_referral:
        type: string
      kode_referral_agent:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
      nama_kontak_darurat:
        type: string
      no_kontak_darurat:
        type: string
      hubungan_keluarga:
        type: string
      komisi_sales:
        type: string
      komisi_kantor:
        type: integer
        format: int32
    required:
      - id
      - id_user
      - slug
      - no_telepon_agent_referensi
      - tipe_agent
      - kantor_agent
      - principal_id
      - nama_depan
      - nama_belakang
      - no_ktp
      - jenis_kelamin
      - tempat_lahir
      - tanggal_lahir
      - alamat
      - provinsi
      - kota
      - kecamatan
      - kelurahan
      - rt
      - rw
      - no_rekening
      - nama_rekening
      - bank
      - no_npwp
      - note
      - foto_ktp
      - foto_npwp
      - foto_selfie
      - status_sales
      - approved_date
      - ratings
      - status_aktif
      - kode_referral
      - kode_referral_agent
      - created_at
      - updated_at
      - nama_kontak_darurat
      - no_kontak_darurat
      - hubungan_keluarga
      - komisi_sales
      - komisi_kantor
  GetDataSales:
    title: GetDataSales
    type: object
    properties:
      sales:
        type: array
        items:
          $ref: '#/definitions/Sale'
    required:
      - sales
  Sale:
    title: Sale
    type: object
    properties:
      type:
        type: string
      text:
        type: string
      nama_sales:
        type: string
      value:
        type: string
      sales_id:
        type: integer
        format: int32
      email_sales:
        type: string
      tipe_agent:
        type: string
      no_npwp:
        type: string
      no_hp_sales:
        type: string
      nama_kontak_darurat:
        type: string
      no_kontak_darurat:
        type: string
      komisi_sales:
        type: integer
        format: int32
      komisi_kantor:
        type: integer
        format: int32
      team_leader_id: {}
      nama_team_leader:
        type: string
      no_npwp_team_leader:
        type: string
      komisi_tl:
        type: integer
        format: int32
      principal_id: {}
      nama_principal:
        type: string
      no_npwp_principal:
        type: string
      komisi_principal:
        type: integer
        format: int32
      nama_head_office:
        type: string
      kantor_agent_id: {}
      nama_kantor_agent:
        type: string
      jenis_kantor_agent:
        type: string
      komisi_kantor_agent:
        type: integer
        format: int32
      komisi_or_kantor: {}
      komisi_or_direksi: {}
      royalty_fee:
        type: integer
        format: int32
      komisi_admin:
        type: integer
        format: int32
      admin_direksi:
        type: array
        items:
          $ref: '#/definitions/AdminDireksi'
      is_skema:
        type: integer
        format: int32
    required:
      - type
      - text
      - nama_sales
      - value
      - sales_id
      - email_sales
      - tipe_agent
      - no_npwp
      - no_hp_sales
      - nama_kontak_darurat
      - no_kontak_darurat
      - komisi_sales
      - komisi_kantor
      - team_leader_id
      - nama_team_leader
      - no_npwp_team_leader
      - komisi_tl
      - principal_id
      - nama_principal
      - no_npwp_principal
      - komisi_principal
      - kantor_agent_id
      - jenis_kantor_agent
      - komisi_kantor_agent
      - komisi_or_kantor
      - komisi_or_direksi
      - royalty_fee
      - komisi_admin
      - admin_direksi
      - is_skema
  AdminDireksi:
    title: AdminDireksi
    type: object
    properties:
      agent_property_id:
        type: integer
        format: int32
      user_id:
        type: integer
        format: int32
      tipe:
        type: string
      persentase:
        type: integer
        format: int32
      nama:
        type: string
  AdminDireksi1:
    title: AdminDireksi1
    example:
      agent_property_id: 3
      user_id: 38
      tipe: Admin
      persentase: 50
      nama: Rudi tabuti
    type: object
    properties:
      agent_property_id:
        type: integer
        format: int32
      user_id:
        type: integer
        format: int32
      tipe:
        type: string
      persentase:
        type: integer
        format: int32
      nama:
        type: string
    required:
      - agent_property_id
      - user_id
      - tipe
      - persentase
      - nama
  TransactionHelper:
    title: TransactionHelper
    example:
      bank:
        - B.P.D. BALI
        - B.P.D. DKI JAKARTA
        - B.P.D. JABAR BANTEN
        - B.P.D. JABAR BANTEN SYARIAH
        - B.P.D. JAWA TENGAH
        - B.P.D. JAWA TIMUR
        - B.P.D. KALIMANTAN BARAT
        - B.P.D. KALIMANTAN SELATAN
        - B.P.D. KALIMANTAN TIMUR DAN KALIMANTAN UTARA
        - B.P.D. NUSA TENGGARA BARAT
        - B.P.D. NUSA TENGGARA TIMUR
        - B.P.D. PAPUA
        - B.P.D. SULAWESI SELATAN DAN SULAWESI BARAT
        - B.P.D. SULAWESI UTARA
        - B.P.D. SUMATERA BARAT
        - B.P.D. SUMSEL DAN BABEL
        - B.P.D. YOGYAKARTA
        - B.T. PENSIUNAN NASIONAL
        - BANK ARTHA GRAHA INTERNASIONAL
        - BANK BANTEN
        - BANK BCA SYARIAH
        - BANK BTPN SYARIAH
        - BANK BUKOPIN
        - BANK BUMI ARTA
        - BANK CENTRAL ASIA (BCA)
        - BANK CHINA CONSTRUCTION INDONESIA
        - BANK CIMB NIAGA
        - BANK COMMONWEALTH
        - BANK CTBC INDONESIA
        - BANK DANAMON INDONESIA
        - BANK DBS INDONESIA
        - BANK DIGITAL BCA
        - BANK GANESHA
        - BANK HSBC INDONESIA
        - BANK IBK INDONESIA
        - BANK INA PERDANA
        - BANK JASA JAKARTA
        - BANK JTRUST INDONESIA
        - BANK KEB HANA
        - BANK MANDIRI
        - BANK MASPION INDONESIA
        - BANK MAYAPADA INTERNATIONAL
        - BANK MAYBANK INDONESIA
        - BANK MAYORA
        - BANK MEGA
        - BANK MESTIKA DHARMA
        - BANK MNC INTERNASIONAL
        - BANK MUAMALAT INDONESIA
        - BANK MULTIARTA INDONESIA
        - BANK NATIONALNOBU
        - BANK NEGARA INDONESIA 1946 (BNI)
        - BANK OCBC NISP
        - BANK OF CHINA
        - BANK OKE INDONESIA
        - BANK PANIN DUBAI SYARIAH
        - BANK PERMATA
        - BANK QNB INDONESIA
        - BANK RAKYAT INDONESIA (BRI)
        - BANK SAHABAT SAMPOERNA
        - BANK SBI INDONESIA
        - BANK SHINHAN INDONESIA
        - BANK SINARMAS
        - BANK SYARIAH BRI
        - BANK SYARIAH BUKOPIN
        - BANK SYARIAH MANDIRI
        - BANK TABUNGAN NEGARA (BTN)
        - BANK UOB INDONESIA
        - BANK VICTORIA INTERNATIONAL
        - BANK WOORI SAUDARA INDONESIA 1906
        - BNI SYARIAH
        - CITIBANK
        - MEGA SYARIAH INDONESIA
        - PAN INDONESIA BANK LTD.
        - RABOBANK INTERNASIONAL INDONESIA
        - STANDARD CHARTERED BANK
      cara_pembayaran:
        - Kartu Kredit
        - Setoran Tunai / Cash
        - Transfer Bank melalui ATM
        - Transfer Bank melalui Mobile Banking
        - Transfer Bank melalui Internet Banking
        - E-Wallet (OVO/GOPAY/LINKAJA)
        - Pembayaran di Gerai Retail (Indomaret / Alfamart)
      province:
        - ACEH
        - SUMATERA UTARA
        - SUMATERA BARAT
        - RIAU
        - JAMBI
        - SUMATERA SELATAN
        - BENGKULU
        - LAMPUNG
        - KEPULAUAN BANGKA BELITUNG
        - KEPULAUAN RIAU
        - DKI JAKARTA
        - JAWA BARAT
        - JAWA TENGAH
        - DI YOGYAKARTA
        - JAWA TIMUR
        - BANTEN
        - BALI
        - NUSA TENGGARA BARAT
        - NUSA TENGGARA TIMUR
        - KALIMANTAN BARAT
        - KALIMANTAN TENGAH
        - KALIMANTAN SELATAN
        - KALIMANTAN TIMUR
        - KALIMANTAN UTARA
        - SULAWESI UTARA
        - SULAWESI TENGAH
        - SULAWESI SELATAN
        - SULAWESI TENGGARA
        - GORONTALO
        - SULAWESI BARAT
        - MALUKU
        - MALUKU UTARA
        - PAPUA BARAT
        - PAPUA
    type: object
    properties:
      bank:
        type: array
        items:
          type: string
      cara_pembayaran:
        type: array
        items:
          type: string
      province:
        type: array
        items:
          type: string
    required:
      - bank
      - cara_pembayaran
      - province
  DeleteUser:
    title: DeleteUser
    example:
      success: true
      error: null
      message: Berhasil menghapus user.
      data: 1
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: integer
        format: int32
    required:
      - success
      - error
      - message
      - data
tags:
  - name: Misc
    description: ''
